body {
	margin:0;
	padding:0;
}
/*.page-container {
	width:80%;
	margin:0 auto;
	background:;
	clear:both;
}*/
a {
	text-decoration: none;
	color:white;
}
nav {
	clear:both;
	min-height:50px;
	margin:0;
	padding:0;
	width:100%;
	background: #542F38;
}

.nav {
	
	margin-left: 30%;
	margin-top:0;
	margin-bottom:0;
	padding:0;
	list-style-type:none;
}
.nav li {
	display:inline-block;
	padding:15px;
}

/*.nav li:hover {
	background:#fff;
	color:#000000;
	border-radius: 50%;

}
.nav li:hover a {
	color:#000;
}*/

li {
	list-style-type:none;
}

img {
	margin-left: 30.5%;
	margin-top: 2%;
}



/*jquery*/

.album1, .album2, .album3/*, .pic1, .pic2, .pic3, .pic4, .pic5, .pic6, .pic7, .pic8, .pic9 */{
	display:none;
}

/*.pic2 {
	display: none;
}*/

.show {
	display:block;
}










